*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

body a{
    text-decoration: none;
}

.container{
    max-width: 1245px;
    width: 100%;
    margin: auto;
}



.index{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.head{
    background-color: #454F5B;
}

.head_container{
    gap: 197px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.head p{
    padding-left: 356px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.head a{
    color: white;
    text-decoration: underline;
    font-weight: 500;
}



.header{
    box-shadow: 0 1px 0 #C4CDD5;
    background-color: white;
}

.header_container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1{
    display: flex;
    width: 625px;
    gap: 100px;
}

.logo img{
    width: 50px;
}

.nav{
    width: 500px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    color: #161C24;
}

.nav a:hover{
    color: #454F5B;
}

.item2{
    width: 300px;
    display: flex;
    gap: 30px;
}

.sel-buy{
    display: flex;
    gap: 24px;
}

.sel-buy img{
    width: 32px;
}




.main{
    padding-top: 150px;
}

.main__ahref{
    margin-top: 20px;
    margin-bottom: 40px;
}

.main_container a{
    font-size: 16px;
    font-weight: 400;
    color: #141414;
}

.main_container a:hover{
    color: #454F5B;
}

.main_container div{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 32px;
}

.main_container h5{
    font-size: 26px;
    font-weight: 600;
}

.main_container h6{
    font-size: 18px;
    font-weight: 300;
}

.desc_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.desc_container div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.desc_container div button{
    background-color: transparent;
    padding: 7px 70px;
    border: 1px solid #ADD7FF;
    font-size: 16px;
    font-weight: 400;
    color: #161C24;
    cursor: pointer;
}

.desc_container div span{
    display: flex;
    gap: 8px;
}

.desc_container p{
    font-size: 14px;
    font-weight: 400;
    color: #141414;
}

.desc_container button{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    border: 1px solid #ADD7FF;
    padding: 7px 16px;
}

.desc_container button span{
    font-size: 16px;
    color: #141414;
    font-weight: 400;
}




.info{
    margin-bottom: 100px;
}

.info_container{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.filtr{
    width: 288px;
    height: 495px;
    padding: 24px;
    border: 1px solid #C4CDD5;
}

.filtr h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 47px;
    color: #161C24;
}

label{
    display: flex;
    gap: 180px;
    align-items: center;
    margin-bottom: 39px;
    cursor: pointer;
}

label span{
    font-size: 16px;
    font-weight: 500;
    color: #161C24;
}

.filtr .filtr__input{
    display: flex;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 26px;
}

.filtr input {
    width: 116px;
    padding: 10px 35px 10px 25px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
}

.filtr input:hover{
    border-color: #4295E4;
}

.filtr input:focus{
    outline: none;
}

.filtr .ahref{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ahref div{
    padding-bottom: 12px;
    border-bottom: 1px solid #EDEDED;
}

.filtr a{
    width: 240px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #161C24;
    transition: all 0.5s;
}

:hover{
    color: #454F5B;
}

.gift{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift__block{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.block{
    width: 288px;
    border: 1px solid #EAEAEA ;
    padding-bottom: 10px;
}

.block .buy{
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 12px;
    background-color: #00000008;
}

.buy span{
    display: flex;
    align-items: center;
    gap: 8px;
}

.buy p{
    font-size: 14px;
    font-weight: 400;
    color: #454F5B;
}

.buy button{
    font-size: 12px;
    font-weight: 500;
    color: #161C24;
    padding: 8px 10px;
    border: none;
    box-shadow: 0 2px 5px #00000008;
    background-color: white;
    cursor: pointer;
}

.reyting{
    padding: 0 12px;
    display: flex;
    gap: 8px;
    margin-bottom: 8.5px;
}

.reyting p{
    font-size: 13px;
    font-weight: 400;
    color: #454F5B;
}

.block .desc{
    padding:0 12px ;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #454F5B;
    margin-bottom: 10px;
}

.sena{
    display: flex;
    gap: 12px;
    padding: 0 12px;
}

.sena h4{
    font-size: 20px;
    font-weight: 600;
    color:#161C24;
}

.sena h5{
    font-size: 18px;
    font-weight: 300;
    color: #454F5B;
    text-decoration: line-through;
}

.lock{
    width: 288px;
    height: 320px;
    background-image: url('../images/lock.png');
    position: relative;
    margin-bottom: 10px;
}

.lock span{
    display: flex;
    gap: 10px;
    padding: 6px 8px;
    background-color: white;
    box-shadow: rgba(20, 20, 20, 0.4);
    position: absolute;
    top: 10px;
    left: 12px;
}

.lock span h6{
    font-size: 12px;
    font-weight: 400;
    color: #161C24;
}

.lock2{
    width: 288px;
    height: 320px;
    background-image: url('../images/lock2.png');
    position: relative;
    margin-bottom: 10px;
}

.lock2 span{
    display: flex;
    gap: 10px;
    padding: 6px 8px;
    background-color: white;
    box-shadow: rgba(20, 20, 20, 0.4);
    position: absolute;
    top: 10px;
    left: 12px;
}

.lock2 span h6{
    font-size: 12px;
    font-weight: 400;
    color: #161C24;
}

.lock3{
    width: 288px;
    height: 320px;
    background-image: url('../images/lock3.png');
    position: relative;
    margin-bottom: 10px;
}

.lock3 span{
    display: flex;
    gap: 10px;
    padding: 6px 8px;
    background-color: white;
    box-shadow: rgba(20, 20, 20, 0.4);
    position: absolute;
    top: 10px;
    left: 12px;
}

.lock3 span h6{
    font-size: 12px;
    font-weight: 400;
    color: #161C24;
}

.gift__page{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.gift__page a img{
    width: 41px;
}

.page__betwen{
    display: flex;
    gap: 8px;
}

.page__betwen a{
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    color: #181818;
}

.page__betwen a:hover{
    background-color: #4295E4;
}